.feed-wrapper {
  @apply h-screen text-xs pt-12;
  background-color: #fefefe;
  color: #575757;
}

.feedbar {
  @apply flex justify-between items-center p-2 pt-4 bg-white w-full fixed;
  color: #ab9f9f;
  z-index: 2;
}

.home-logo {
  @apply flex items-center absolute;
  top: 13%;
}

.logo-bar {
  @apply center-line;
}

.logo {
  @apply px-2;
}

.new-post-card {
  @apply mt-10 mx-4 rounded-3xl;
  background-color: #fdfdfd;
}

.new-post-title {
  @apply text-sm pb-4;
}

.new-post-body {
  @apply flex pb-2;
}

.new-post-body-avatar {
  @apply mr-3;
}

.new-post-body-input {
  @apply w-full;
} 

.new-post-input-actions {
  @apply flex justify-end mt-2;
}

.post-card {
  @apply shadow-md bg-gray-50 mt-6 px-4 pb-4 z-50;
  background-color: #fdfdfd;
  border-radius: 4rem;
}

.center-line {
  @apply flex items-center;
}

.post-card-profile-line {
  @apply center-line justify-between p-1 mb-1;
}

.post-card-body {
  @apply px-8;
}

.post-card-actions {
  @apply center-line mt-4 px-5 font-light;
}

.post-card-likes {
  @apply flex items-start;
}

.post-card-comments {
  @apply flex items-start ml-3;
}

.post-card-comments-section {
  @apply flex flex-col mt-2;
}

.post-card-comment-line {
  @apply center-line rounded-full px-2 m-1;
  font-size: 0.6rem;
}

.post-card-recent-comment-line {
  @apply center-line rounded-full border border-blue-200 px-1 m-1;
  font-size: 0.6rem;
}

.btn {
  letter-spacing: 0.2rem;
}

.profile-short-form {
  @apply flex items-center text-xs p-1 min-h-10;
}

.profile-long-form {
  @apply flex items-start text-xs p-1 min-h-10;
}

.profile-form-icon {
  @apply p-1 text-gray-400;
}

.add-comment-wrapper {
  @apply fixed bottom-0 right-0 left-0 w-full z-10;
}

.add-comment-card {
  @apply flex items-center justify-between rounded-full p-1 ml-2 w-full;
}
